.nav {
    background-color: rgb(50, 55, 59);
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    height: 70px;

}

.nav-title {
    color: white;
}

.nav-links {
    color: white;
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.active {
    color: white;
}

.passive {
    color: lightgray;
}

.btn    {
    color: white;
    background-color: teal;
}

ul {
    list-style-type: none;
}