h1 {
    color: white;
    background-color: black;
}

.extra {
    color:aqua;
}

h2 {
    text-align: center;
    color: white;
    background-color: purple;
    font-style: italic;
}

h3 {
    text-align: right;
    color: darkblue; 
    background-color: lightblue;
    text-decoration: underline;
}