.row {
    display: flex;
}

.col, .col-2, .col-3 {
    flex: 1;
    padding: 20px;
    margin: 10px;
    color: white;
    background-color: rgb(33, 143, 143);
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}